RewriteEngine On

# 1. Přesměrování HTTP → HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# 2. Přesměrování WWW → BEZ WWW
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# 3. Přesměrování index.html na hlavní doménu
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^index\.html$ https://saunarelaxbar.cz/ [R=301,L]
