/* Nastavení základního fontu */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

body {
  margin: 0;
  font-family: 'DM Serif Text', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f7e8d5;
  padding-top: 77px;
  width: 100%;
}




header {
  background-color: #faede0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  height: 77px;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(139, 69, 19, 0.3);
  max-width: 100vw;
}

header img {
  height: 50px;
  width: auto;
  margin: 13.5px 15px;
}

/* ZÁKLADNÍ STYL NAVIGACE */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 45px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  padding: 15px 20px;
  position: relative;
  display: inline-block;
  transition: color 0.3s, background-color 0.3s;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  /* Umístění podtržení na spodní stranu textu */
  left: 0;
  width: 0;
  /* Počáteční šířka podtržení */
  height: 2px;
  /* Tloušťka podtržení */
  background-color: #8b4513;
  /* Barva podtržení */
  transition: width 0.3s ease;
  /* Plynulá animace šířky */
}

nav ul li a:hover::after {
  width: 100%;
  /* Rozšíří podtržení na celou šířku textu */
}

nav ul li a:hover {
  color: #8b4513;
}

nav ul li a.active {
  color: #faede0;
  background-color: #8b4513;
  border-radius: 5px;
}

nav ul li a.active::after {
  height: 0px;
}

/* HAMBURGER MENU STYL */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.menu-toggle span {
  background: #8b4513;
  width: 30px;
  height: 3px;
  margin: 5px 0;
  transition: 0.4s;
}

#uvod {
  text-align: center;
  background: url('images/sauna-uvodni.webp') no-repeat center center/cover;
  color: #f7e8d5;
  padding: 50px;
  height: 200px;
}

#uvod::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 377px;
  background: rgba(0, 0, 0, 0.5);
  /* Tmavý overlay */
  z-index: 1;
}

#uvod h1 {
  font-size: 50px;
  margin-bottom: 10px;
  z-index: 2;
}

.nadpis {
  margin-bottom: 100px;
  font-size: 20px;
  z-index: 2;
  position: relative;
}

section {
  padding-top: 77px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #8b5e3c;
  /* Tmavší hnědý odstín */
}

.hlavni {
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}

#kalendar {
  padding: 0;
  background-color: #f7e8d5;
  border-radius: 8px;
  text-align: left;
}

.kal-nadpis {
  background-color: #593c1f;
  margin-bottom: 20px;
}

.kal-nadpis h2 {
  margin: 0;
  text-align: center;
  color: #faede0;
  font-size: 30px;
}



/* Obal časové osy */
.timeline-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

/* Čára časové osy */
.timeline {
  position: relative;
  width: 700px;
  height: 4px;
  background-color: #8B5E3B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 90px;
}

/* Přidání šipky na pravý konec */
.timeline::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 25px solid #8B5E3B;
  /* Barva odpovídající čáře */
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

/* Položky na časové ose */
.timeline-item {
  position: relative;
}

.nav-btn {
  background-color: #f0d9bd;
  /* Světlejší béžová */
  color: #5a3b1c;
  /* Tmavě hnědá */
  border: 2px solid #8B5E3B;
  /* Středně hnědá */
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 115px;
  text-align: center;
}

.nav-btn:hover {
  background-color: #e8c7a2;
  /* O něco tmavší při hoveru */
}

.nav-btn.active {
  background-color: #ddb88e;
  /* Oranžová */
  color: #5a3b1c;
  /* Bílý text */
  border: 2px solid #5a3b1c;
  /* Tmavě hnědá */
}


.kalendar-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.kalendar-content {
  max-width: 700px;
  margin: auto;
  margin-bottom: 100px;
}

.kalendar-content li {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.kalendar-content li img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.kalendar-content li .akce-info {
  flex: 1;
}

.kalendar-content li .akce-info h4 {
  margin: 0 0 5px;
  color: #333;
  text-transform: capitalize;
}

.kalendar-content li .akce-info p {
  margin: 0;
  color: #666;
}


#o-saune.hlavni {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 75vh;
  align-items: center;
  box-shadow: 0 9px 30px #4B3621;
  border: #4B3621;
  padding: 0;
  background-color: #faede0;
  margin-bottom: 0;
}

#o-saune .text {
  margin: auto;
  width: 40%;
}



#o-saune p {
  line-height: 1.6;
  text-align: center;
  font-size: 18px;
}

#o-saune ul {
  list-style-type: none;
  padding: 0;
  margin: 25px 0;
}

#o-saune ul li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.5;
}

#o-saune ul li img {
  vertical-align: middle;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.fotky {
  display: flex;
  position: relative;
  width: 40%;
}

.fotky img {
  width: 33.33%;
  /* Šířka každého obrázku s mezerami */
  height: 75vh;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  /* Plynulý přechod šířky a z-indexu */
  position: relative;
  z-index: 1;
}

#oteviraci-doba.hlavni {
  max-width: 100%;
  background-color: white;
  background: url("images/oteviraci-doba.webp") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 77px;
  position: relative;
  height: 65vh;
  display: flex;
  /* Aktivuje Flexbox */
  justify-content: center;
  /* Horizontální zarovnání */
  align-items: center;
  /* Vertikální zarovnání */
  flex-direction: column;
  margin: 0;
}

#oteviraci-doba.hlavni::before {
  content: "";
  /* Pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  /* Tmavý překryv (černý s průhledností 50%) */
  z-index: 1;
  /* Zajistí, že překryv bude nad pozadím */
}

#oteviraci-doba.hlavni * {
  position: relative;
  z-index: 2;
}

#oteviraci-doba {
  text-align: center;
  margin: 40px auto 117px;
  font-family: 'Arial', sans-serif;
  color: #593c1f;
  /* Jemný hnědý odstín */
}

#oteviraci-doba h2 {
  color: #faede0;
  /* Bílá pro lepší kontrast */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  font-family: 'DM Serif Text', sans-serif;
}


#oteviraci-doba ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#oteviraci-doba li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 10px auto;
  padding: 10px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: linear-gradient(to right, #ffffff, #f7e8d5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  transition: transform 0.3s ease, background 0.3s ease;
}



#oteviraci-doba li span {
  font-weight: bold;
  color: #593c1f;
}

#oteviraci-doba li:hover {
  transform: scale(1.05);
}


#fotky.hlavni {
  max-width: 100%;
  padding: 0;
  margin-bottom: 0;
}

.gallery {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
}

.gallery-container {
  display: flex;

  /* Rozestup mezi obrázky */
  transition: transform 0.5s ease-in-out;
}

.gallery img {
  flex: 0 0 calc((100%) / 3);
  width: calc((100%) / 3);
  object-fit: cover;
}

.gallery-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.gallery-button.prev {
  left: 10px;
}

.gallery-button.next {
  right: 10px;
}

.gallery-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#cenik.hlavni {
  box-shadow: 0 9px 30px #4B3621;
  border: #4B3621;
  max-width: 100%;
  text-align: left;
  height: fit-content;
  padding: 100px;
  background: #faede0;
  /* Hlavní pozadí */
  position: relative;
  overflow: hidden;
}

#cenik::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  /* Šikmé pozadí začíná od poloviny sekce */
  background: url('images/pozadi-cenik.webp') no-repeat center center;
  background-size: cover;
  /* Přizpůsobení velikosti obrázku */
  clip-path: polygon(0 0, 100% 0, 100% 200%, 0 0);
  /* Tvar šikmého pozadí */
  z-index: 0;
  /* Pozadí bude pod textem */
}

#cenik .content {
  position: relative;
  z-index: 1;
  /* Obsah bude nad pozadím */
  width: 900px;
  margin: auto;
}

#cenik li {
  position: relative;
  margin-bottom: 15px;
  font-size: 18px;
  padding-left: 25px;
  /* Prostor pro ikonu vlevo od textu */
  text-indent: -33px;
  /* Zarovná text, aby se vyhnul ikoně */
  line-height: 1.8em;
  text-align: left;
  list-style: none;
}

#cenik li.normal::before {
  content: "\eaa0";
  font-family: "IcoFont";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  color: #8b4513;
  /* Jemná hnědá barva */
}

#cenik img {
  height: 70px;
  width: auto;
  margin-top: 15px;
  margin-left: 15px;
}

#cenik .doplneni {
  font-size: 13px;
  margin-top: -15px;
  list-style-type: none;
}

#kavarna.hlavni {
  min-height: fit-content;
  padding-bottom: 77px;
  font-size: 18px;
  max-width: 900px;
}

#kavarna {
  display: flex;
  gap: 35px;
  align-items: baseline;
}

.text-kavarna img {
  cursor: pointer;
  margin-top: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.foto-kavarna {
  position: relative;
  width: 100%;
  height: auto;
}

.foto-kavarna img {
  position: absolute;
  width: auto;
  height: 300px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  border-radius: 5px;
}

.foto-kavarna img:first-child {
  opacity: 1;
}

#kontakt.hlavni {
  background: url('images/kontakt-pozadi.webp') no-repeat center;
  background-size: cover;
  max-width: 100%;
  height: fit-content;
  margin-bottom: 0;
  padding-bottom: 100px;
  position: relative;
}

#kontakt.hlavni::before {
  content: "";
  /* Pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Tmavý překryv (černý s průhledností 50%) */
  z-index: 1;
  /* Zajistí, že překryv bude nad pozadím */
}

#kontakt.hlavni * {
  position: relative;
  /* Zajistí, že obsah sekce bude nad pseudo-elementem */
  z-index: 2;
}

.kontakt {
  display: flex;
  height: fit-content;
  align-items: center;
  width: 800px;
  margin: auto;
  gap: 40px;

}

#kontakt h2 {
  color: #faede0;
}

iframe {
  width: 400px;
  height: 450px;
  border-radius: 15px;
  border: 0;
}

.kontakty {
  width: 350px;
  height: fit-content;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kontakty p:hover {
  transform: translateY(-5px);
  /* Posun nahoru o 5px */
  background-color: #e8c7a2;
}

.kontakty p {
  width: fit-content;
  min-width: 180px;
  padding: 18px 20px;
  border-radius: 20px;
  margin: 9px 0;
  text-align: center;
  background-color: #faede0;
  transition: all 0.3s ease-in-out;
}

.kontakty a {
  color: #333;
  text-decoration: none;
}

.kontakt-soc {
  display: flex;
  gap: 10px;
}

.kontakt-soc p {
  padding: 10px 5px;
  min-width: 50px
}

.kontakt-soc i {
  margin: 0;
}

#recenze {
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

footer {
  background-color: #2a1e13;
  color: #f4e1c1;
  text-align: center;
  padding-top: 30px;
  height: fit-content;
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
}

.footer-creator {
  background-color: #4a3420;
  /* Jemnější hnědá */
  font-size: 14px;
  /* O něco menší písmo */
  opacity: 0.85;
  padding: 10px;
  margin-top: 4dvb;
  transition: background 0.4s ease;
}

.footer-creator:hover {
  background-color: #5a3e25;
  /* Mírně světlejší hnědá */
}

.footer-creator a {
  color: #d8b67a;
  /* Méně sytá zlatá */
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-creator a:hover {
  color: #e0c28d;
  /* Jemnější zesvětlení */
  text-decoration: underline;
}

footer a {
  color: #f4e1c1;
  /* Zlatá barva pro odkazy */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

i {
  margin-right: 6px;
}

#rad {
  text-align: justify;
}

.gdpr {
  text-align: left;
  padding: 20px;
}

#chyba {
  padding: 90px;
  font-size: 1.8rem;
}